.input_form{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}
.input_styles{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}